<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.board.mappers.BoardMapper">
    <resultMap id="boardMap" type="org.choongang.board.entities.Board">
        <result column="BID" property="bId" />
        <result column="BNAME" property="bName" />
        <result column="ROWS_PER_PAGE" property="rowsPerPage" />
        <result column="ACTIVE" property="active" />
        <result column="ACTIVE_CATEGORY" property="activeCategory" />
        <result column="CATEGORY" property="category" />
        <result column="AUTHORITY" property="authority" />
    </resultMap>

    <insert id="register">
        INSERT INTO BOARD
        (BID, BNAME, ROWS_PER_PAGE, ACTIVE, ACTIVE_CATEGORY, CATEGORY, AUTHORITY)
        VALUES (#{bId}, #{bName}, #{rowsPerPage}, #{active}, #{activeCategory}, #{category}, #{authority})
    </insert>

    <update id="modify">
        UPDATE BOARD
        <set>
            <if test="bName != null">
                BNAME=#{bName},
            </if>
            <if test="rowsPerPage > 0">
                ROWS_PER_PAGE=#{rowsPerPage},
            </if>
            <if test="authority != null">
                AUTHORITY=#{authority},
            </if>
            <if test="category != null">
                CATEGORY=#{category},
            </if>
            ACTIVE=#{active},
            ACTIVE_CATEGORY=#{activeCategory}

        </set>
        WHERE BID=#{bId}
    </update>

    <delete id="delete">
        DELETE FROM BOARD WHERE BID=#{bId}
    </delete>

    <select id="get" resultMap="boardMap">
        SELECT * FROM BOARD WHERE BID=#{bId}
    </select>

    <select id="getList" resultMap="boardMap">
        SELECT * FROM BOARD ORDER BY BID
    </select>

    <select id="exists" resultType="int">
        SELECT COUNT(*) FROM BOARD WHERE BID=#{bId}
    </select>
</mapper>