<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.member.mappers.MemberMapper">
    <resultMap id="memberMap" type="org.choongang.member.entities.Member">
        <result column="USER_NO" property="userNo" />
        <result column="USER_ID" property="userId" />
        <result column="USER_PW" property="userPw" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_TYPE" property="userType" />
        <result column="REG_DT" property="regDt" />
        <result column="MOD_DT" property="modDt" />
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT * FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <select id="exists" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <insert id="register">
        INSERT INTO MEMBER (USER_NO, USER_ID, USER_PW, USER_NAME, USER_TYPE)
            VALUES (SEQ_MEMBER.NEXTVAL, #{EMAIL}, #{PASSWORD}, #{USER_TYPE}, #{USER_NAME})
    </insert>

    <select id="memberList">
        SELECT * FROM MEMBER WHERE EMAIL=#{email}, USER_NAME=#{userName}, USER_TYPE=#{userType}, REG_DT=#{regDt}
    </select>
</mapper>