<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.pokemon.mappers.MyPokemonMapper">
    <resultMap id="pokemonMap" type="org.choongang.pokemon.entities.PokemonDetail">
        <result column="SEQ" property="seq" />
        <result column="FRONT_IMAGE" property="frontImage" />
        <result column="NAME_KR" property="nameKr" />
        <result column="NICKNAME" property="nickName" />
    </resultMap>

    <insert id="register">
        INSERT INTO MYPOKEMON
        VALUES (#{seq}, #{frontImage}, #{nameKr}, #{nickName})
    </insert>


</mapper>