<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.pokemon.mappers.PokemonMapper">
    <resultMap id="pokemonMap" type="org.choongang.pokemon.entities.PokemonDetail">
        <result column="SEQ" property="seq" />
        <result column="NUM" property="num" />
        <result column="NAME" property="name" />
        <result column="WEIGHT" property="weight" />
        <result column="HEIGHT" property="height" />
        <result column="BASE_EXPERIENCE" property="baseExperience" />
        <result column="FRONT_IMAGE" property="frontImage" />
        <result column="BACK_IMAGE" property="backImage" />
        <result column="RAW_DATA" property="rawData" />
        <result column="NAME_KR" property="nameKr" />
        <result column="DESCRIPTION" property="description" />
    </resultMap>

    <insert id="register">
        INSERT INTO POKEMON
        VALUES (#{seq}, #{name}, #{weight}, #{height}, #{baseExperience}, #{frontImage}, #{backImage}, #{rawData}, #{nameKr}, #{description})
    </insert>

    <select id="get" resultMap="pokemonMap">
        SELECT ROWNUM NUM, P.* FROM POKEMON P WHERE P.seq=#{seq}
    </select>

    <select id="getList" resultMap="pokemonMap">

        SELECT * FROM (SELECT ROWNUM NUM, P.* FROM POKEMON P
        <where>
            <if test="skey != null">
                AND P.NAME LIKE #{skey}
            </if>
        </where>
        ) P2
        WHERE
        <![CDATA[
            P2.NUM >= #{offset} AND P2.NUM < #{endRows} ORDER BY P2.seq
        ]]>
    </select>
</mapper>