<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.pokemon.mappers.PokemonMapper">
    <resultMap id="pokemonMap" type="org.choongang.pokemon.entities.PokemonDetail">
        <result column="SEQ" property="seq" />
        <result column="NUM" property="num" />
        <result column="NAME" property="name" />
        <result column="NAME_KR" property="nameKr" />
        <result column="WEIGHT" property="weight" />
        <result column="HEIGHT" property="height" />
        <result column="BASE_EXPERIENCE" property="baseExperience" />
        <result column="FRONT_IMAGE" property="frontImage" />
        <result column="BACK_IMAGE" property="backImage" />
        <result column="PIXEL_FRONT_IMAGE" property="pixelFrontImage" />
        <result column="PIXEL_BACK_IMAGE" property="pixelBackImage" />
        <result column="RAW_DATA" property="rawData" />
        <result column="DESCRIPTION" property="description" />
        <result column="TYPE1" property="type1" />
        <result column="TYPE2" property="type2" />
    </resultMap>

    <insert id="register">
        INSERT INTO POKEMON (SEQ, NAME, NAME_KR, WEIGHT, HEIGHT, BASE_EXPERIENCE, FRONT_IMAGE, BACK_IMAGE, PIXEL_FRONT_IMAGE, PIXEL_BACK_IMAGE, RAW_DATA, DESCRIPTION, TYPE1, TYPE2)
        VALUES (#{seq}, #{name}, #{nameKr}, #{weight}, #{height}, #{baseExperience}, #{frontImage}, #{backImage}, #{pixelFrontImage}, #{pixelBackImage}, #{rawData},  #{description}, #{type1}, #{type2})
    </insert>

    <select id="get" resultMap="pokemonMap">
        SELECT P.SEQ, ROWNUM NUM, P.NAME, P.NAME_KR, P.WEIGHT, P.HEIGHT, P.BASE_EXPERIENCE, P.FRONT_IMAGE, P.BACK_IMAGE, P.PIXEL_FRONT_IMAGE, P.PIXEL_BACK_IMAGE, P.RAW_DATA,  P.DESCRIPTION, P.TYPE1, P.TYPE2 FROM POKEMON P WHERE P.seq=#{seq}
    </select>

    <select id="getList" resultMap="pokemonMap">

        SELECT * FROM (SELECT P.SEQ, ROWNUM NUM, P.NAME, P.NAME_KR, P.WEIGHT, P.HEIGHT, P.BASE_EXPERIENCE, P.FRONT_IMAGE, P.BACK_IMAGE, P.PIXEL_FRONT_IMAGE, P.PIXEL_BACK_IMAGE, P.RAW_DATA, P.DESCRIPTION, P.TYPE1, P.TYPE2 FROM POKEMON P
        <where>
            <if test="skey != null and !skey.equals('')">
                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'"/>
                P.NAME_KR LIKE #{keyword}
            </if>
        </where>
        ORDER BY P.seq
        ) P2
        <if test="skey == null or skey == ''">
            WHERE
            <![CDATA[
            P2.SEQ >= #{offset} AND P2.SEQ < #{endRows}
        ]]>
        </if>
    </select>
    <!--    <select id="getList" resultMap="pokemonMap">-->

    <!--        SELECT * FROM (SELECT P.SEQ, ROWNUM NUM, P.NAME, P.WEIGHT, P.HEIGHT, P.BASE_EXPERIENCE, P.FRONT_IMAGE, P.BACK_IMAGE,P.PIXEL_FRONT_IMAGE, P.PIXEL_BACK_IMAGE, P.RAW_DATA, P.NAME, P.DESCRIPTION, P.TYPE1, P.TYPE2 FROM POKEMON P-->
    <!--        <where>-->
    <!--            <if test="skey != null and !skey.equals('')">-->
    <!--                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'"/>-->

    <!--                 P.NAME_KR  LIKE #{keyword}-->
<!-- 커밋 전용 주석 -->

    <!--            </if>-->
    <!--        </where>-->
    <!--        ORDER BY P.seq-->
    <!--        ) P2-->
    <!--        <if test="skey == null or skey == ''">-->
    <!--            WHERE-->
    <!--            <![CDATA[-->
    <!--            P2.SEQ >= #{offset} AND P2.SEQ < #{endRows}-->
    <!--        ]]>-->
    <!--        </if>-->
    <!--    </select>-->
    <!-- 포켓몬 랜덤 조회 -->
    <select id="getRandom" resultMap="pokemonMap">
        <![CDATA[
        SELECT * FROM (SELECT ROWNUM NUM, P.* FROM POKEMON P ORDER BY DBMS_RANDOM.VALUE(0, 2000)) WHERE ROWNUM = 1
        ]]>
    </select>

    <select id="getTotal" resultType="int">
        SELECT COUNT(*) FROM POKEMON
        <where>
            <if test="skey != null and !skey.equals('')">
                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'" />
                AND NAME || NAME_KR || DESCRIPTION LIKE #{keyword}
            </if>
        </where>
    </select>

</mapper>