
/*401페이지 css*/
.admin401main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.buttons401 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.title401{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px;
}

.title401 img {
    height: 300px;
}


.title401 h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button401 {
    border: 1px solid #ccc; /*옅은 회색*/
    padding: 0 10px; /*좌우 패팅*/

    height: 60px;
    width: 250px;
    background: var(--blue);
    font-size: 1.35rem;
    transition: background 0.5s ease;
    cursor: pointer; /*커서 포인터*/
}

.button401:hover{
    background: var(--yellow);
    font-weight: bold;
}

.button401 a {
    color: var(--white);
}