main {
    background: #e5e1fff7;
    min-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.join-box {
    width: 580px;
     border-radius: 20px;
    margin: 30px auto 100px;
    background: #fbf3ff;
    padding: 55px;
}

.join-box h1 {
    font-size: 30px;
    font-weight: 900;
    padding: 0;
    margin: 0 0 25px;
    font-family : "Do Hyeon", sans-serif;
}

.logo-img {
    text-align: center;
    margin-top: 70px;
}


.join-box input[type='text'],
.join-box input[type='password'] {
    height: 60px;
    border-radius: 10px;
    border: 1px solid #bbb;
    padding: 0 20px 0 35px;
    font-size: 16px;
    margin-bottom: 10px;
}

.join-box input[type='text']:focus,
.join-box input[type='password']:focus {
    border-color: #000;
}

.join-box .terms {
    margin-top: 20px;
    border-top: 1px solid #bbb;
    padding: 30px 0 20px;
}

.join-box .terms .tit {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
}

.join-box .termsContent {
    height: 150px;
    overflow: auto;
    resize: none;
    width: 100%;
    background: #f8f8f8;
}

.join-box .termsAgree {
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

.join-box button[type='submit'] {
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 50px;
    width: 95%;
    background: var(--black);
    font-size: 1.3rem;
    margin: 0;
    cursor: pointer;
    transform: skew(-20deg);
    color: #fff;
    font-weight: bold;
 }

.input-icon.email {
    background: #fff url("../images/img_email.png") no-repeat 10px center;
}

.input-icon.password {
    background: #fff url("../images/img_password.png") no-repeat 10px center;

}

.input-icon.confirmPassword {
      background: #fff url("../images/img_confirm.png") no-repeat 10px center;

}

.input-icon.userName {
    background: #fff url("../images/img_username.png") no-repeat 10px center;
}