.all-form {
    /*margin: 30px 0; */
    display:flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background: #fbf3ff;
}

.form-box {
    display: block;
    align-items: center;
    justify-content: center;
    width: 620px;
    height: 590px;
    /*border: 1px solid #414141; */
    border-radius: 20px;
    padding: 20px 40px;
    background: #dfe7ff;
}

.login-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px;
    height: 140px;
}

.login-title h1 {
    font-weight: bold;
    font-size: 2.2rem;
   font-family:"Do Hyeon", sans-serif;
    /*text-align: center;*/
}


.logo-img {
    text-align: center;
     margin-top: 30px;
}

.logo-img img {
    width: 200px; /* 원하는 너비 */
    height: auto; /* 비율에 맞게 높이 자동 조절 */


}

.div{
    padding: 0 15px;
    margin: 15px 0;
}

.email input,
.pw input {
    height: 50px;
    width: 95%;
    cursor: pointer;
    margin-bottom: 20px;
}

.save-email {
    font-size: 1.2rem;
}


.email {

}

.pw {

}


input[type=checkbox] {
    transform : scale(1.5);
    margin-right: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    border-bottom: 1px solid #d0d0d0;
}

.button {
    border: 1px solid #ccc; /*옅은 회색*/
    padding: 0 10px; /*좌우 패팅*/
    height: 50px;
    width: 95%;
    background: #1d1849d1;
    font-size: 1.2rem;
    margin: 20px 0;
    cursor: pointer;
    transform: skew(-20deg);
}

.button > p {
    transform: skew(20deg);
    color: #fff;
}
.link-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.link-login > a {
    margin-top: 30px;
    padding: 10px 22px;
    border-radius: 38px;
    background: #f5f5f58a ;

}

.input-icon.email {
    background: #fff url("../images/img_login2.png") no-repeat 10px center;
}

.input-icon.password {
    background: #fff url("../images/img_loginPassword.png") no-repeat 10px center;
}