.content-box {
min-width: 550px;
    max-width: 700px;
    min-height: 650px;
    margin: 50px auto;
    box-shadow: 2px 2px 10px #bdc735;  /* 로그인 페이지 박스 그림자 효과 변경 위치 */
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;

    text-align: left; /* 중앙 정렬 */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.center-image {
    width: 200px; /* 이미지 너비 조절 */
    height: 200px; /* 이미지 높이 조절 */
}