/* 메인 레이아웃 공통 */
.layout-width {
    min-width: 800px;
    max-width: 1300px;
    margin: 0 auto;
}

.content-box {
    min-width: 550px;
    max-width: 700px;
    min-height: 650px;
    margin: 50px auto;
    box-shadow: 2px 2px 10px #afab23;
    border-radius: 20px;
    padding: 30px;
}




.content-box h1 {
    font-size: 1.5rem;
    line-height: 1;
    padding: 0 10px 15px;
    margin: 0 0 20px;
    border-bottom: 2px solid #000;
}

/* 사이트 헤더 영역 S */
header .site-top {
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

header .site-top > .inner {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

header .site-top i {
    font-size: 1.3rem;
    vertical-align: middle;
}

header .site-top a {
    line-height: 1;
}

header .site-top a:hover {
    text-decoration: underline;
}

header .site-top .right a {
    margin-left: 10px;
}

header img {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--yellow);
}

nav > .inner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 45px;
}

nav > .inner a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    padding : 12px 20px;
    line-height: 45px;
    display : inline-block;
    min-width : 200px;
}

nav > .inner a:hover {
    background: var(--blue);
    color: var(--white);
}

.dropdown{
    position : relative;
    display : inline-block;
}

.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: var(--white);
    min-width : 200px;
}

.dropdown-content a{
    display : block;
    text-decoration: none;
    font-size: 12px;
    padding : 12px 20px;
}

.dropdown-content a:hover{
    background-color : #ececec
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* 사이트 헤더 영역 E */

/* 사이트 메인 영역 S */
main {
    height: 500px;
}

main img {
    display: block;
}


/* 사이트 푸터 영역 S */

/* 사이트 푸터 영역 E */