
.subWrap{
   width: 1300px;
   margin: 0 auto;
}

.bookSub{

}
.pokemonBoxsub2{

}

.pokemonSubWrap-top{
    display:flex;
}

.pokemonSub{
    width: 400px;
    height: 400px;
}

.pokemonBoxsubEx {
    width:500px;
    background: #fff;
}

.pokemonSubWrap-bottom{
    display:flex;
}

.pokemonBoxsub2{
    margin: 0 auto;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
}

.pokemonSub2 {
    padding: 20px;
     width: 300px;
     height: 300px;
     transition: transform 0.3s ease;
}

.pokemonSub2:hover {
    transform: scale(1.1);
}
