.searchBar {
    border-radius:10px;
    height: 80px;
    background: #393939;
    max-width: 1300px;
    min-width: 600px;
    margin: 30 auto 0;
}


.bookMain {
    display: flex;
    flex-wrap: wrap;
    width:1300px;
    margin: 50px auto;
}
.pokemonStatus{
}

.pokemonBox {
    width: 200px;
    margin: 10px;
    text-align: center;
    margin: 0 auto 20;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}

.pokemon {
    margin: 20px auto 20px;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}
.pokemon:hover {
    transform: scale(1.2);

}