.resultWrap {
    padding:50px;
}

.resultImgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultImgWrap img {
    width:300px;
    height:300px;
}

.result-p-name {
    text-align: center;


}

.resultPokemonNum{
    font-size: 15px;
    font-weight: bold;
    font-color:
}

.resultPokemonName{
    font-size: 30px;
    font-weight: bold;
    font-color:
}

    .frmSave {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .frmSave input[type="text"] {
            width: 300px !important;
            height: 40px !important;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .save .btn {
            margin-left: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .save .btn:hover {
            background-color: #45a049;
        }