.card-items {
    display: flex;
    flex-wrap: wrap;
}

.card-items li {
    width: calc(100% / 3);
}

.card-items label {
    margin: 5px;
    padding: 15px;
    box-shadow: 2px 2px 5px #333;
    background: #fff;
    display: block;
    border-radius: 15px;
    border: 5px solid transparent;
    transition: all 0.5s;
    cursor: pointer;
}

.card-items label img {
    width: 100%;
    display: block;
}

.card-items input[type='radio'] {
    display: none;
}

.card-items input[type='radio']:checked + label,
.card-items label:hover {
    border-color: #333;
}