.button-wrapper {
            display: flex;
            justify-content: center; /* 가로 중앙 정렬 */
            align-items: center; /* 세로 중앙 정렬 */
            height: 5%; /* 부모 요소의 전체 높이 사용 */
            margin-top: 13px;
        }

.profile {
            text-align: center; /* 프로필 이미지와 텍스트를 중앙 정렬 */
        }

.pokemon-items {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-items .item {
    width: calc(100% / 5);
    padding: 5px;
}

.pokemon-items input[type='radio'] {
    display: none;
}

.pokemon-items label {
    padding: 10px;
    box-shadow: 2px 2px 5px #333;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.pokemon-items input[type='radio']:checked + label {
    background: #333;
    color: #fff;
}

.pokemon-items input[type='radio']:checked + label * {
    color: #fff;
}

.pokemon-items label img {
    display: block;
    width: 100%;
    margin-bottom: 1px;
}