.viewWrap {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../../images/bg_pattern2.jpg');
}

.pokemon-view {
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    border: 5px solid #d3d3d3;
    border-radius: 30px;
    padding: 50px;
    background-color: #fff;
    text-align: left;
}

.separate {
    display: flex;
}

.image_wrap {

}

.content_wrap {
     width: 45%;
     padding-left: 50px;
     margin-left: auto;
     padding-top: 20px;
}

.p-name-v {
    font-size: 15pt;
    margin-bottom: 10px;
    color: #808080;
    font-weight: bold;
}

.p-desc {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12.5pt;
}

.backToList {

    text-align: center;
}

.backToList .btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: rgb(218, 52, 60);
    color: white;
    font-weight:bold;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.pokemonCh {
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.pokemonHeight {
    margin-right: 40px;
}

 .pixel {
    width: 100%;
    height: 130px;
    display:flex;
    margin: 0 auto;
 }

 .pixel img {
        width: 130px;
        height: 130px;
        margin: 5px;
    }
    .imageExplain {
        font-size: 18px;
        font-weight: bold;
    }


.left-arrow-box {
    display: flex;
        margin-left:100px;
}
.left-arrow-ex {
    margin-left:40px;
    font-size: 15px;
    font-weight:bold;
}
.left-arrow-ex:hover {
     color: #ff5722;
}

.right-arrow-box {
    display: flex;
    margin-right:100px;
}

.right-arrow-ex {
    margin-right:40px;
     font-size: 15px;
        font-weight:bold;
}

.right-arrow-ex:hover {
     color: #ff5722;
}

    .navigation-arrows {
        display: flex;
        justify-content: space-between;
        padding: 18px;
        #background-color: #2c2c2c;

    }

    .arrow {
        font-size: 2rem;
        color: #333;
        text-decoration: none;
        padding: 10px;
        transition: color 0.3s, transform 0.3s;
        position: relative;
    }

    .arrow::before,
    .arrow::after {
        content: '';
        position: absolute;
        width: 5%;
        height: 2px;
        border-radius: 5px;
        background: #333;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: background 0.3s, transform 0.3s;
    }

    .arrow::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .left-arrow::before,
    .left-arrow::after {
        transform-origin: left;
    }

    .right-arrow::before,
    .right-arrow::after {
        transform-origin: right;
    }

    .arrow:hover {
        color: #ff5722;
        transform: scale(1.2);
    }

    .arrow:hover::before,
    .arrow:hover::after {
        background: #ff5722;
        transform: translate(-50%, -50%) rotate(0deg);
    }