.page-container{
    width: calc(100% - 100px);
}

.notice-table {
    width: 100%;
    margin: 3px 0 20px 0;
    /*border-top: 2px solid #191919;*/
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    /*
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
}

.notice-table td:first-child, .table th:first-child{ width:5% }
.notice-table td:nth-child(2), .table th:nth-child(2){ width:60% }
.notice-table td:nth-child(3+n), .table th:nth-child(3+n){ width:15% }


.notice-table th, .notice-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 1.25rem;
}

.notice-table th {
    background-color: #000;
    color: #fff;
}

.no-data {
    text-align: center;
    padding: 20px;
    color: #999;
}

/* btn_right_box를 table-container와 함께 정렬(table-container 삭제) */
.table-container {
    width: calc(100% - 100px); /* 원하는 너비로 설정 */
    margin: 0 auto;
    text-align: right; /* 내부 요소들을 오른쪽 정렬 */
}

.tab-category .category-hover:hover{
    color: #d1180b;
}

.tab-category {
    text-align: left;
    margin-left: 3px;
    font-size: 1.25rem;
}

.btn_right_box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.btn_right_box button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    min-width: 90px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
}

.btn_right_box button:hover {
    background: #d1180b;
}



