/* 메인 헤더 */
.boardTitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardTitle img {
    vertical-align: middle; /* 이미지를 가운데 정렬 */
    margin-right: 10px; /* 이미지 오른쪽 여백 추가 */
    margin-left: 10px;
}

.boardTitle h1{
    font-size: 4.0rem;
}
.do-hyeon-regular {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.location{
    padding-top: 20px;
    padding-bottom: 50px;
}

.page-container {
    max-width: 1200px; /* 최대 너비를 1200px로 설정 */
    margin: 30px auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
    padding: 0;
    background-color: #ffffff; /* 배경색 설정 */
}

/* 메인 푸터 검색창 */
.search-container {
   background-color: #2c2c2c;
   padding: 10px;
   max-width: 100%;
   margin: 0 auto;
   text-align: center;
}

.board_search_box {
    margin: 50px 0 30px 0;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center; /* 중앙 정렬을 위해 추가 */
    align-items: center;
    height: 34px;
    unicode-bidi: isolate;
}

.visible {
    visibility: visible !important;
}

.board_search_box select {
    width: 80px;
    height: 34px;
    border: solid 1px #ddd;
    border-radius: 0; /* 테두리를 사각형으로 설정 */
    cursor: pointer; /* 커서를 포인터로 설정 */
}
.board_search_box input {
    width: 240px;
    height: 34px;
    border: solid 1px #ddd; /* 추가 */
    padding: 0 10px; /* 추가 */
}

.board_search_box select,
.board_search_box input,
.board_search_box button {
    margin-right: 10px; /* 요소들 사이에 간격 추가 */
}

.board_search_box button {
    background: #d1180b; /* 배경색을 검정으로 설정 */
    font-size: 13px;
    font-weight: bold;
    height: 34px;
    margin: 0 0 0 5px;
    padding: 0 15px;
    line-height: 34px;
    min-width: 62px;
    cursor: pointer;
    border: 0;
    border-radius: 4px; /* 버튼 모서리를 둥글게 설정 */
    color: #FFF;
}

select {
    height: 30px;
    border-color: #ddd;
    color: #999;
    vertical-align: top;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 0; /* 테두리를 사각형으로 설정 */
}

select option {
    border: 0;
    cursor: pointer; /* 커서를 포인터로 설정 */
}

.board_search_box select option {
    color: #999;
    cursor: pointer; /* 커서를 포인터로 설정 */
}
