.view-body{
    display: flex;
    justify-content: center;
}

.view-layout-width {
    max-width: 1000px; /* 최대 너비를 1000px로 설정 */
    width: 100%; /* 최대 너비까지 차지하도록 설정 */
    border: 5px solid #21209C;
    border-radius: 20px;
    padding: 20px;
    /* 자동으로 수평 가운데 정렬 */
    font-weight: bold;
}
.subject {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.poster-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
    border-bottom: 2px solid #ddd;
}
.poster-info .view-left,
.poster-info .view-right{
    margin-bottom: 20px;
    color: #555;
}

.content {
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    width: auto;
    min-height: 550px; /* 최소 높이 설정 */
    max-height: none; /* 최대 높이 제한 해제 */
    overflow-y: auto; /* 내용이 많아질 경우 수직 스크롤바 표시 */
    padding: 20px; /* 내용과 경계 사이의 여백 설정 */
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #cccccc;
    color: #000;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--yellow);
}


.view-page .page-container{
    max-width: 1000px; /* 최대 너비를 1000px로 설정 */
    width: 100%;
    /*text-align: center;*/
}

.view-page .notice-table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
}

.view-page .notice-table th,
.view-page .notice-table td {
    padding: 8px;
    text-align: center;
}

.view-page .tab-category a.category-hover:hover {
    color: red;
}

.view-page .tab-category {
    margin-left: 50px;
    padding-bottom: 5px ;
    border-bottom: 2.5px solid var(--yellow);
    display: inline-block;
}

.view-page .table-container {
    width: calc(100% - 100px);
    margin: 0 auto;
    text-align: right;
}

.view-page .btn_right_box {
    display: none;
}

.view-page .notice-table{
    margin-top: 10px;
    margin-left: 50px;
}


.view-page .notice-table th, .notice-table td {
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}


.view-page .pagination {
    display: flex;
    margin: 20px; /* 상단, 하단 여백을 주고 왼쪽 정렬 */
    width: auto;
    justify-content: center;
}
.view-page .pagination a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}
.view-page .pagination a.on {
    background-image: url('../../images/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1.0;
    color: white;
}