.view-layout-width {
    border: 5px solid #21209C;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    font-weight: bold;
}

.subject {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.poster-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
    border-bottom: 2px solid #ddd;
}
.poster-info .view-left,
.poster-info .view-right{
    margin-bottom: 20px;
    color: var(--gray);
}

.content {
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    width: auto;
    max-height: 400px; /* 원하는 최대 높이 설정 */
    overflow-y: auto; /* 내용이 많아질 경우 수직 스크롤바 표시 */
    padding: 20px; /* 내용과 경계 사이의 여백 설정 */
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.view-page .page-container{
    margin-bottom: 0px;
}

.view-page .notice-table {
    width: 50%;
    border-collapse: collapse;
}

.view-page .notice-table th,
.view-page .notice-table td {
    padding: 8px;
    text-align: center;
}

.view-page .tab-category {
    margin-left: 30px;
    padding-bottom: 5px ;
    border-bottom: 4px solid var(--yellow);
    display: inline-block;
}

.view-page .tab-category a.category-hover:hover {
    color: red;
}

.view-page .table-container {
    width: calc(100% - 100px);
    margin: 0 auto;
    text-align: right;
}

.view-page .btn_right_box {
    display: none;
}

.view-page .pagination {
    display: flex;
    margin: 20px; /* 상단, 하단 여백을 주고 왼쪽 정렬 */
    width: auto;
    justify-content: center;
    padding-right: 500px;
}
.view-page .pagination a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}
.view-page .pagination a.on {
    background-image: url('../../images/3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1.0;
    color: white;
}